In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8cb1d8a557776f6206aa9fd3a21be4b8&language=en-US&page=2')

In [ ]:
# here python is using the library REQUESTS to get data from api

In [ ]:
# response 200 - status SUCCESS

In [3]:
pd.DataFrame(response.json()['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/gutU32BiBxJvJdzLv5RWC9hQhNh.jpg,[18],1058694,en,Radical,"In a Mexican border town plagued by neglect, c...",71.934,/eSatbygYZp8ooprBHZdb6GFZxGB.jpg,2023-10-19,Radical,False,8.446,345
1,False,/3RMLbSEXOn1CzLoNT7xFeLfdxhq.jpg,"[10749, 16]",372754,ja,同級生,"Rihito Sajo, an honor student with a perfect s...",19.027,/cIfRCA5wEvj9tApca4UDUagQEiM.jpg,2016-02-20,Dou kyu sei – Classmates,False,8.400,348
2,False,/uBZQOYZLIU9dBmd62fdzBAoropu.jpg,"[28, 12, 16, 18]",704264,en,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,13.203,/9NBBkdxH0TjQEBSN2AzeE1sgsF9.jpg,2019-11-21,Primal: Tales of Savagery,False,8.400,303
3,False,/hZkgoQYus5vegHoetLkCJzb17zJ.jpg,[18],550,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,107.911,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,1999-10-15,Fight Club,False,8.441,28364
4,False,/uif5fUshJrXyyDzfpzp1DLw3N0S.jpg,"[27, 53, 9648]",539,en,Psycho,When larcenous real estate clerk Marion Crane ...,82.534,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,Psycho,False,8.435,9683
5,False,/xJHokMbljvjADYdit5fK5VQsXEG.jpg,"[12, 18, 878]",157336,en,Interstellar,The adventures of a group of explorers who mak...,236.400,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014-11-05,Interstellar,False,8.433,34091
6,False,/uvitbjFU4JqvMwIkMWHp69bmUzG.jpg,"[18, 80]",598,pt,Cidade de Deus,"In the slums of Rio, two kids' paths diverge a...",59.440,/k7eYdWvhYQyRQoU2TB2A2Xu2TfD.jpg,2002-08-30,City of God,False,8.430,7019
7,False,/w2uGvCpMtvRqZg6waC1hvLyZoJa.jpg,"[10749, 18]",696374,en,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,13.645,/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg,2020-05-29,Gabriel's Inferno,False,8.400,2391
8,False,/bxSBOAD8AuMHYMdW3jso9npAkgt.jpg,"[10751, 18]",667257,es,Cosas imposibles,"Matilde is a woman who, after the death of her...",11.407,/t2Ew8NZ8Ci2kqmoecZUNQUFDJnQ.jpg,2021-06-17,Impossible Things,False,8.400,371
9,False,/oje9d0EXQyQcxsqHQor4xFVGjrd.jpg,[18],510,en,One Flew Over the Cuckoo's Nest,A petty criminal fakes insanity to serve his s...,53.873,/3jcbDmRFiQ83drXNOvRDeKHxS0C.jpg,1975-11-19,One Flew Over the Cuckoo's Nest,False,8.422,10053
10,False,/uPYa165sraN2c8gZBM9C47g3JoU.jpg,"[18, 80]",311,en,Once Upon a Time in America,A former Prohibition-era Jewish gangster retur...,49.105,/i0enkzsL5dPeneWnjl1fCWm6L7k.jpg,1984-05-23,Once Upon a Time in America,False,8.423,5136
11,False,/l5K9elugftlcyIHHm4nylvsn26X.jpg,[18],255709,ko,소원,After 8-year-old So-won narrowly survives a br...,18.534,/x9yjkm9gIz5qI5fJMUTfBnWiB2o.jpg,2013-10-02,Hope,False,8.400,652
12,False,/x2RS3uTcsJJ9IfjNPcgDmukoEcQ.jpg,"[12, 14, 28]",120,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",151.694,/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,False,8.412,24218
13,False,/9RWPPVB9ZPsrqALjcXKkl5rwijN.jpg,"[14, 16, 12]",4935,ja,ハウルの動く城,"Sophie, a young milliner, is turned into an el...",118.716,/6pZgH10jhpToPcf0uvyTCPFhWpI.jpg,2004-09-09,Howl's Moving Castle,False,8.411,9361
14,False,/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg,"[10749, 18]",724089,en,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,12.543,/x5o8cLZfEXMoZczTYWLrUo1P7UJ.jpg,2020-07-31,Gabriel's Inferno: Part II,False,8.400,1500
15,False,/hlCq6Qh9GVtuNcGZF4mQYluaZix.jpg,"[16, 28, 12, 878]",324857,en,Spider-Man: Into the Spider-Verse,Struggling to find his place in the world whil...,105.584,/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg,2018-12-06,Spider-Man: Into the Spider-Verse,False,8.405,14906
16,False,/ySaK6hpbCc2OE13ac7ovhgWwR5u.jpg,[10402],568332,en,Taylor Swift: Reputation Stadium Tour,Taylor Swift takes the stage in Dallas for the...,25.535,/u6oXUTtOuJRPdUgUuPAVVJPSKCo.jpg,2018-12-31,Taylor Swift: Reputation Stadium Tour,False,8.400,360
17,False,/alQqTpmEkxSLgajfEYTsTH6nAKB.jpg,"[35, 18, 14]",40096,pt,O Auto da Compadecida,The lively João Grilo and the sly Chicó are po...,12.707,/imcOp1kJsCsAFCoOtY5OnPrFbAf.jpg,2000-09-15,A Dog's Will,False,8.400,1051
18,False,/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg,"[10749, 18]",761053,en,Gabriel's Inferno: Part III,The final part of the film adaption of the ero...,29.376,/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg,2020-11-19,Gabriel's Inferno: Part III,False,8.400,1043
19,False,/6G73mNyooWAEQTpckPSnFxFoNmc.jpg,"[12, 14, 28]",121,en,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,96.155,/5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg,2002-12-18,The Lord of the Rings: The Two Towers,False,8.394,21040

In [12]:
pd.DataFrame(response.json()['results']).head(2)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/gutU32BiBxJvJdzLv5RWC9hQhNh.jpg,[18],1058694,en,Radical,"In a Mexican border town plagued by neglect, c...",71.934,/eSatbygYZp8ooprBHZdb6GFZxGB.jpg,2023-10-19,Radical,False,8.446,345
1,False,/3RMLbSEXOn1CzLoNT7xFeLfdxhq.jpg,"[10749, 16]",372754,ja,同級生,"Rihito Sajo, an honor student with a perfect s...",19.027,/cIfRCA5wEvj9tApca4UDUagQEiM.jpg,2016-02-20,Dou kyu sei – Classmates,False,8.400,348

In [5]:
pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','vote_average','vote_count']]

,id,title,release_date,popularity,vote_average,vote_count
0,1058694,Radical,2023-10-19,71.934,8.446,345
1,372754,Dou kyu sei – Classmates,2016-02-20,19.027,8.400,348
2,704264,Primal: Tales of Savagery,2019-11-21,13.203,8.400,303
3,550,Fight Club,1999-10-15,107.911,8.441,28364
4,539,Psycho,1960-06-22,82.534,8.435,9683
5,157336,Interstellar,2014-11-05,236.400,8.433,34091
6,598,City of God,2002-08-30,59.440,8.430,7019
7,696374,Gabriel's Inferno,2020-05-29,13.645,8.400,2391
8,667257,Impossible Things,2021-06-17,11.407,8.400,371
9,510,One Flew Over the Cuckoo's Nest,1975-11-19,53.873,8.422,10053
10,311,Once Upon a Time in America,1984-05-23,49.105,8.423,5136
11,255709,Hope,2013-10-02,18.534,8.400,652
12,120,The Lord of the Rings: The Fellowship of the Ring,2001-12-18,151.694,8.412,24218
13,4935,Howl's Moving Castle,2004-09-09,118.716,8.411,9361
14,724089,Gabriel's Inferno: Part II,2020-07-31,12.543,8.400,1500
15,324857,Spider-Man: Into the Spider-Verse,2018-12-06,105.584,8.405,14906
16,568332,Taylor Swift: Reputation Stadium Tour,2018-12-31,25.535,8.400,360
17,40096,A Dog's Will,2000-09-15,12.707,8.400,1051
18,761053,Gabriel's Inferno: Part III,2020-11-19,29.376,8.400,1043
19,121,The Lord of the Rings: The Two Towers,2002-12-18,96.155,8.394,21040

In [6]:
# There are 466 pges of it 
# so we will insert this into a loop

In [7]:
df=pd.DataFrame()

In [8]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:

for i in range(1, 466):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8cb1d8a557776f6206aa9fd3a21be4b8&language=en-US&page={}'.format(i))
    
    # Create a DataFrame from the JSON response
    masoom = pd.DataFrame(response.json()['results'])[['id', 'title', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    
    # Append the new DataFrame to the existing DataFrame using concat
    df = pd.concat([df, masoom], ignore_index=True)

In [10]:
df

,id,title,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,1994-09-23,131.581,8.704,25992
1,238,The Godfather,1972-03-14,138.213,8.695,19710
2,240,The Godfather Part II,1974-12-20,92.884,8.600,11905
3,424,Schindler's List,1993-12-15,87.119,8.567,15303
4,389,12 Angry Men,1957-04-10,54.930,8.543,8186
...,...,...,...,...,...,...
9295,5491,Battlefield Earth,2000-05-12,17.648,3.300,801
9296,12142,Alone in the Dark,2005-01-28,16.084,3.200,571
9297,13805,Disaster Movie,2008-08-29,23.646,3.200,987
9298,11059,House of the Dead,2003-04-11,12.718,3.100,367
9299,14164,Dragonball Evolution,2009-03-12,19.301,2.900,1973

In [11]:
df.to_csv('toprated_movies.csv')